# Supabase
VITE_SUPABASE_URL=https://dalikzaphbeaomsscjke.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRhbGlremFwaGJlYW9tc3NjamtlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI1NTg5NDgsImV4cCI6MjA4ODEzNDk0OH0.dBFbvMJ1h_ynyeyV5IJt8RFQArigllJjQruWra-QN5A
# LiveKit
VITE_LIVEKIT_URL=wss://mitex-ttozq9ng.livekit.cloud
LIVEKIT_API_KEY=APIE8SHdsdF62xs
LIVEKIT_API_SECRET=VdDmtaxHgkW61U8p24reBuEwhunLIdYcjwmof8Qjolr

# Token Server
VITE_TOKEN_SERVER_URL=http://localhost:3001
SERVER_PORT=3001

# App
VITE_APP_URL=http://localhost:5173
